In [1]:
import pandas as pd
import numpy as np

In [2]:
# File to Load 
runner_2015 = "Resources/marathon_results_2015.csv"
runner_2016 = "Resources/marathon_results_2016.csv"
runner_2017 = "Resources/marathon_results_2017.csv"

In [3]:
# File to Read
runner_2015_df = pd.read_csv(runner_2015)
runner_2016_df = pd.read_csv(runner_2016)
runner_2017_df = pd.read_csv(runner_2017)

In [4]:
# Show all 2015 columns
runner_2015_df.columns

Index(['Unnamed: 0', 'Bib', 'Name', 'Age', 'M/F', 'City', 'State', 'Country',
       'Citizen', 'Unnamed: 9', '5K', '10K', '15K', '20K', 'Half', '25K',
       '30K', '35K', '40K', 'Pace', 'Proj Time', 'Official Time', 'Overall',
       'Gender', 'Division'],
      dtype='object')

In [5]:
# Show all 2016 columns
runner_2016_df.columns

Index(['Bib', 'Name', 'Age', 'M/F', 'City', 'State', 'Country', 'Citizen',
       'Unnamed: 8', '5K', '10K', '15K', '20K', 'Half', '25K', '30K', '35K',
       '40K', 'Pace', 'Proj Time', 'Official Time', 'Overall', 'Gender',
       'Division'],
      dtype='object')

In [6]:
# Show all 2017 columns
runner_2017_df.columns

Index(['Unnamed: 0', 'Bib', 'Name', 'Age', 'M/F', 'City', 'State', 'Country',
       'Citizen', 'Unnamed: 9', '5K', '10K', '15K', '20K', 'Half', '25K',
       '30K', '35K', '40K', 'Pace', 'Proj Time', 'Official Time', 'Overall',
       'Gender', 'Division'],
      dtype='object')

In [7]:
# Display data frame to see what information it contains
runner_2015_df.head()

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,...,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division
0,0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,NaN,NaN,...,1:16:07,1:32:00,1:47:59,2:02:39,0:04:56,-,2:09:17,1,1,1
1,1,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,NaN,NaN,...,1:16:07,1:31:59,1:47:59,2:02:42,0:04:58,-,2:09:48,2,2,2
2,2,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,NaN,NaN,...,1:16:07,1:32:00,1:47:59,2:03:01,0:04:59,-,2:10:22,3,3,3
3,3,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,NaN,NaN,...,1:16:07,1:32:00,1:48:03,2:03:47,0:05:00,-,2:10:47,4,4,4
4,4,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,NaN,NaN,...,1:16:07,1:32:00,1:47:59,2:03:27,0:05:00,-,2:10:49,5,5,5

In [8]:
# Only keep the columns we needed
runner_2015_df = runner_2015_df[["Bib", "Name", "Age", "M/F", "City", "State", "Country", 
                                       "5K", "10K", "15K", "20K", "Half", "25K","30K", "35K", 
                                       "40K", "Pace", "Official Time", "Overall"]]
# Adding Year column
runner_2015_df["Year"] = 2015

# Export csv file
runner_2015_df.to_csv("runner_2015_df.csv")

runner_2015_df.head()

,Bib,Name,Age,M/F,City,State,Country,5K,10K,15K,20K,Half,25K,30K,35K,40K,Pace,Official Time,Overall,Year
0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,0:14:43,0:29:43,0:44:57,1:00:29,1:04:02,1:16:07,1:32:00,1:47:59,2:02:39,0:04:56,2:09:17,1,2015
1,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,0:14:43,0:29:43,0:44:58,1:00:28,1:04:01,1:16:07,1:31:59,1:47:59,2:02:42,0:04:58,2:09:48,2,2015
2,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,0:14:43,0:29:43,0:44:57,1:00:29,1:04:02,1:16:07,1:32:00,1:47:59,2:03:01,0:04:59,2:10:22,3,2015
3,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,0:14:43,0:29:44,0:45:01,1:00:29,1:04:02,1:16:07,1:32:00,1:48:03,2:03:47,0:05:00,2:10:47,4,2015
4,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,0:14:43,0:29:44,0:44:58,1:00:28,1:04:01,1:16:07,1:32:00,1:47:59,2:03:27,0:05:00,2:10:49,5,2015

In [9]:
# Only keep the columns we needed
runner_2016_df = runner_2016_df[["Bib", "Name", "Age", "M/F", "City", "State", "Country", 
                                       "5K", "10K", "15K", "20K", "Half", "25K","30K", "35K", 
                                       "40K", "Pace", "Official Time", "Overall"]]
# Adding Year column
runner_2016_df["Year"] = 2016

# Export csv file
runner_2016_df.to_csv("runner_2016_df.csv")

runner_2016_df.head()

,Bib,Name,Age,M/F,City,State,Country,5K,10K,15K,20K,Half,25K,30K,35K,40K,Pace,Official Time,Overall,Year
0,5,"Hayle, Lemi Berhanu",21,M,Addis Ababa,NaN,ETH,0:15:47,0:31:20,0:47:07,1:03:14,1:06:45,1:19:15,1:34:17,1:50:24,2:05:59,0:05:04,2:12:45,1,2016
1,1,"Desisa, Lelisa",26,M,Ambo,NaN,ETH,0:15:47,0:31:21,0:47:08,1:03:14,1:06:46,1:19:15,1:34:17,1:50:24,2:05:59,0:05:06,2:13:32,2,2016
2,6,"Tsegay, Yemane Adhane",31,M,Addis Ababa,NaN,ETH,0:15:46,0:31:20,0:47:07,1:03:13,1:06:44,1:19:15,1:34:45,1:50:48,2:06:47,0:05:07,2:14:02,3,2016
3,11,"Korir, Wesley",33,M,Kitale,NaN,KEN,0:15:46,0:31:21,0:47:07,1:03:14,1:06:46,1:19:16,1:34:45,1:50:48,2:06:47,0:05:07,2:14:05,4,2016
4,14,"Lonyangata, Paul",23,M,Eldoret,NaN,KEN,0:15:46,0:31:21,0:47:08,1:03:14,1:06:46,1:19:18,1:34:46,1:51:30,2:08:11,0:05:11,2:15:45,5,2016

In [10]:
# Only keep the columns we needed
runner_2017_df = runner_2017_df[["Bib", "Name", "Age", "M/F", "City", "State", "Country", 
                                       "5K", "10K", "15K", "20K", "Half", "25K","30K", "35K", 
                                       "40K", "Pace", "Official Time", "Overall"]]
# Adding Year column
runner_2017_df["Year"] = 2017

# Export csv file
runner_2017_df.to_csv("runner_2017_df.csv")

runner_2017_df.head()

,Bib,Name,Age,M/F,City,State,Country,5K,10K,15K,20K,Half,25K,30K,35K,40K,Pace,Official Time,Overall,Year
0,11,"Kirui, Geoffrey",24,M,Keringet,NaN,KEN,0:15:25,0:30:28,0:45:44,1:01:15,1:04:35,1:16:59,1:33:01,1:48:19,2:02:53,0:04:57,2:09:37,1,2017
1,17,"Rupp, Galen",30,M,Portland,OR,USA,0:15:24,0:30:27,0:45:44,1:01:15,1:04:35,1:16:59,1:33:01,1:48:19,2:03:14,0:04:58,2:09:58,2,2017
2,23,"Osako, Suguru",25,M,Machida-City,NaN,JPN,0:15:25,0:30:29,0:45:44,1:01:16,1:04:36,1:17:00,1:33:01,1:48:31,2:03:38,0:04:59,2:10:28,3,2017
3,21,"Biwott, Shadrack",32,M,Mammoth Lakes,CA,USA,0:15:25,0:30:29,0:45:44,1:01:19,1:04:45,1:17:00,1:33:01,1:48:58,2:04:35,0:05:03,2:12:08,4,2017
4,9,"Chebet, Wilson",31,M,Marakwet,NaN,KEN,0:15:25,0:30:28,0:45:44,1:01:15,1:04:35,1:16:59,1:33:01,1:48:41,2:05:00,0:05:04,2:12:35,5,2017

In [15]:
# Concatenate all DataFrame together
final_df = pd.concat([runner_2015_df, runner_2016_df, runner_2017_df])

In [16]:
# Display combined result
final_df

,Bib,Name,Age,M/F,City,State,Country,5K,10K,15K,20K,Half,25K,30K,35K,40K,Pace,Official Time,Overall,Year
0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,0:14:43,0:29:43,0:44:57,1:00:29,1:04:02,1:16:07,1:32:00,1:47:59,2:02:39,0:04:56,2:09:17,1,2015
1,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,0:14:43,0:29:43,0:44:58,1:00:28,1:04:01,1:16:07,1:31:59,1:47:59,2:02:42,0:04:58,2:09:48,2,2015
2,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,0:14:43,0:29:43,0:44:57,1:00:29,1:04:02,1:16:07,1:32:00,1:47:59,2:03:01,0:04:59,2:10:22,3,2015
3,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,0:14:43,0:29:44,0:45:01,1:00:29,1:04:02,1:16:07,1:32:00,1:48:03,2:03:47,0:05:00,2:10:47,4,2015
4,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,0:14:43,0:29:44,0:44:58,1:00:28,1:04:01,1:16:07,1:32:00,1:47:59,2:03:27,0:05:00,2:10:49,5,2015
5,9,"Chepkwony, Frankline",30,M,Koibatek,NaN,KEN,0:14:44,0:29:45,0:44:59,1:00:29,1:04:02,1:16:07,1:32:00,1:47:59,2:03:18,0:05:00,2:10:52,6,2015
6,14,"Ritzenhein, Dathan",32,M,Rockford,MI,USA,0:14:45,0:29:45,0:45:20,1:00:43,1:04:03,1:16:05,1:31:59,1:48:06,2:04:05,0:05:01,2:11:20,7,2015
7,1,"Keflezighi, Meb",39,M,San Diego,CA,USA,0:14:44,0:29:44,0:44:59,1:00:30,1:04:02,1:16:07,1:31:59,1:47:59,2:04:58,0:05:04,2:12:42,8,2015
8,5,"Tola, Tadese",27,M,Addis Ababa,NaN,ETH,0:14:43,0:29:43,0:44:58,1:00:28,1:04:02,1:16:07,1:32:00,1:48:00,2:04:39,0:05:06,2:13:35,9,2015
9,16,"Shafar, Vitaliy",33,M,Lutsk,NaN,UKR,0:15:14,0:30:34,0:46:05,1:01:43,1:05:07,1:17:18,1:33:11,1:49:43,2:06:16,0:05:07,2:13:52,10,2015
10,22,"Tegenkamp, Matt",33,M,Portland,OR,USA,0:14:46,0:29:50,0:45:33,1:01:20,1:04:48,1:17:08,1:33:12,1:49:52,2:06:55,0:05:07,2:13:52,11,2015
11,19,"Eggleston, Jeffrey",30,M,Boulder,CO,USA,0:15:14,0:30:34,0:46:06,1:01:42,1:05:07,1:17:19,1:33:30,1:50:12,2:06:47,0:05:08,2:14:17,12,2015
12,15,"April, Lusapho",32,M,Uitenhage,NaN,RSA,0:14:44,0:29:44,0:44:59,1:00:29,1:04:03,1:16:07,1:32:00,1:48:07,2:06:50,0:05:13,2:16:25,13,2015
13,20,"Arciniaga, Nicholas",31,M,Flagstaff,AZ,USA,0:14:44,0:29:44,0:45:14,1:01:07,1:04:35,1:17:50,1:35:43,1:53:33,2:10:40,0:05:16,2:18:02,14,2015
14,76,"Goffi, Danilo",42,M,Parabiago - Milan,NaN,ITA,0:15:53,0:32:17,0:48:32,1:04:49,1:08:21,1:21:17,1:38:02,1:54:55,2:11:25,0:05:18,2:18:44,15,2015
15,28,"Canaday, Sage",29,M,Boulder,CO,USA,0:16:08,0:32:19,0:48:41,1:05:01,1:08:38,1:21:18,1:38:01,1:54:54,2:11:37,0:05:19,2:19:12,16,2015
16,54,"Zyryanov, Sergey",30,M,Moscow,NaN,RUS,0:15:53,0:32:17,0:48:32,1:04:49,1:08:20,1:21:17,1:38:02,1:54:57,2:11:37,0:05:19,2:19:17,17,2015
17,29,"Chavez, Chris",28,M,Burlingame,CA,USA,0:15:57,0:32:21,0:48:43,1:05:21,1:09:00,1:21:50,1:38:46,1:56:05,2:12:58,0:05:21,2:20:04,18,2015
18,27,"Macpherson, Scott",28,M,Columbia,MO,USA,0:16:08,0:32:17,0:48:31,1:04:44,1:08:17,1:20:55,1:37:41,1:54:45,2:12:23,0:05:22,2:20:25,19,2015
19,33,"Zablocki, Christopher",26,M,Essex,CT,USA,0:16:08,0:32:20,0:48:42,1:05:20,1:08:58,1:21:50,1:38:40,1:55:47,2:13:07,0:05:22,2:20:35,20,2015
20,26,"Hasegawa, Kiyokatsu",32,M,Tokyo,NaN,JPN,0:14:46,0:29:51,0:45:33,1:01:27,1:05:04,1:18:05,1:35:34,1:54:00,2:12:27,0:05:22,2:20:42,21,2015
21,32,"Zywicki, Benjamin P.",26,M,Louisville,CO,USA,0:16:08,0:32:21,0:48:42,1:05:21,1:08:59,1:21:50,1:38:46,1:56:05,2:13:25,0:05:24,2:21:10,22,2015
22,41,"Viau-Dupuis, Philippe",32,M,Montreal,QC,CAN,0:16:08,0:32:22,0:48:43,1:05:21,1:08:59,1:21:51,1:38:46,1:56:05,2:13:25,0:05:24,2:21:16,23,2015
23,35,"Sanca, Ruben",28,M,Lowell,MA,USA,0:16:08,0:32:22,0:48:42,1:05:20,1:08:59,1:21:50,1:38:45,1:56:04,2:13:36,0:05:25,2:21:58,24,2015
24,21,"Cabada, Fernando",32,M,Fresno,CA,USA,0:15:29,0:31:05,0:47:15,1:03:47,1:07:23,1:20:21,1:37:34,1:54:54,2:13:11,0:05:26,2:22:05,25,2015
25,24,"Richards, Malcolm J.",32,M,San Francisco,CA,USA,0:15:52,0:31:54,0:48:17,1:04:36,1:08:09,1:20:55,1:37:41,1:54:56,2:14:03,0:05:27,2:22:30,26,2015
26,53,"Atkins, Cole",29,M,Blowing Rock,NC,USA,0:16:07,0:32:21,0:48:42,1:05:10,1:08:48,1:21:43,1:38:46,1:56:38,2:15:03,0:05:29,2:23:21,27,2015
27,78,"Mercier, Christian",40,M,Quebec,QC,CAN,0:16:08,0:32:23,0:49:15,1:06:56,1:10:46,1:24:22,1:42:01,1:59:56,2:17:08,0:05:31,2:24:37,28,2015
28,106,"Glaz, Daniel",32,M,Chicago,IL,USA,0:16:52,0:33:35,0:50:40,1:07:50,1:11:33,1:24:58,1:42:19,1:59:50,2:17:03,0:05:32,2:24:44,29,2015
29,83,"Boudalia, Said Sr.",46,M,Vas(belluno),NaN,ITA,0:15:58,0:32:20,0:48:43,1:06:06,1:09:57,1:23:36,1:41:36,1:59:54,2:17:02,0:05:32,2:24:49,30,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26380,25779,"Nijensohn, Lynda A.",42,F,Wellesley,MA,USA,0:34:14,1:10:13,1:45:52,2:22:29,2:29:59,3:04:43,3:58:21,4:55:14,5:47:30,0:14:06,6:09:38,26382,2017
26381,24894,"Staveley, Patricia",60,F,Calgary,AB,CAN,0:35:07,1:14:23,1:54:27,2:37:05,2:45:54,3:19:46,4:09:29,5:07:11,5:51:19,0:14:08,6:10:19,26383,2017
26382,23144,"Fong, Sut Sam",48,F,Hong Kong,NaN,HKG,0:33:30,1:09:43,1:49:08,2:31:17,2:40:36,3:37:13,4:25:58,5:12:27,5:55:04,0:14:15,6:13:26,26384,2017
26383,25182,"Trang, Danh",30,M,San Francisco,CA,USA,0:35:53,1:12:42,1:51:12,2:31:11,2:40:11,3:13:32,4:14:48,5:06:21,5:56:00,0:14:15,6:13:26,26385,2017
26384,26163,"Prario, Austin D.",19,M,Mapleville,RI,USA,0:33:35,1:11:58,1:51:36,2:33:16,2:42:00,3:16:52,4:04:45,5:00:40,5:54:44,0:14:17,6:14:05,26386,2017
26385,26889,"Welch, Jennifer E.",37,F,Boston,MA,USA,0:33:59,1:11:09,1:50:57,2:34:14,2:43:56,3:22:39,4:15:26,5:07:51,5:55:05,0:14:21,6:16:04,26387,2017
26386,26873,"Wolff, Eli A.",39,M,Newton,MA,USA,0:34:01,1:11:12,1:51:00,2:34:17,2:43:58,3:22:41,4:15:28,5:07:54,5:55:08,0:14:21,6:16:05,26388,2017
26387,23458,"Pulido, Jose I Sr.",66,M,Bogota,NaN,COL,0:29:35,1:01:18,1:35:23,2:13:55,2:22:49,3:11:21,4:05:10,5:01:15,5:52:45,0:14:23,6:16:50,26389,2017
26388,25179,"Solberg, Bryon",55,M,San Diego,CA,USA,0:40:07,1:24:52,2:09:03,2:52:19,3:02:24,3:37:18,4:21:50,5:10:04,5:56:53,0:14:23,6:16:56,26390,2017
26389,25265,"Picard, Hector",50,M,Fort Lauderdale,FL,USA,0:36:17,1:17:02,2:01:21,2:45:12,2:54:36,3:31:52,4:19:22,5:10:30,6:01:43,0:14:35,6:22:13,26391,2017
26390,28988,"Taylor, Robert",56,M,Ft Lauderdale,FL,USA,0:36:18,1:17:33,2:01:36,2:45:47,2:55:51,3:32:05,4:19:45,5:10:26,6:02:15,0:14:35,6:22:13,26392,2017
26391,6893,"Ueda, Akifumi",58,M,Himeji-Shi,NaN,JPN,0:28:48,1:00:28,1:36:41,2:19:42,2:30:26,3:12:18,4:04:39,5:00:22,5:56:59,0:14:39,6:24:03,26393,2017
26392,10603,"Ferry, J. Alain",45,M,Boston,MA,USA,0:39:15,1:24:29,2:13:05,3:00:11,3:09:57,3:48:42,4:37:42,5:23:30,6:07:21,0:14:45,6:26:31,26394,2017
26393,27054,"Weisberg, Scott R.",47,M,Birmingham,AL,USA,0:46:41,1:28:49,2:08:08,2:47:49,2:55:22,3:28:17,4:18:15,5:14:52,6:06:43,0:14:47,6:27:10,26395,2017
26394,6170,"Morris, Sheldon",44,M,Springhill,NS,CAN,0:38:29,1:24:33,2:10:46,2:57:49,3:07:21,3:48:47,4:37:56,5:25:39,6:15:15,0:15:00,6:33:04,26396,2017
26395,4631,"Choon Hon, Lim",33,M,Singapore,NaN,SIN,0:38:23,1:21:54,2:03:34,2:49:02,3:01:16,3:43:59,4:34:10,5:22:42,6:11:55,0:15:11,6:37:48,26397,2017
26396,25262,"Caesar, Candice L.",44,F,Fresno,TX,USA,0:35:47,1:17:02,2:05:58,2:52:33,3:03:31,3:43:32,4:37:51,5:31:18,6:18:21,0:15:12,6:38:25,26398,2017
26397,15536,"Coffman, Steven D.",69,M,East Sandwich,MA,USA,0:32:14,1:10:24,1:59:44,2:51:14,3:00:44,3:46:48,4:43:52,5:37:23,6:24:02,0:15:21,6:42:04,26399,2017
26398,14851,"Scholtz, Theo E",70,M,Wylie,TX,USA,0:25:32,0:54:42,1:30:47,2:11:32,2:20:31,3:13:55,4:14:09,5:25:19,6:20:56,0:15:27,6:44:49,26400,2017
26399,25263,"Luckett, Kelly",49,F,Savannah,GA,USA,0:42:31,1:27:45,2:18:03,3:05:52,3:15:56,3:55:50,4:47:35,5:38:32,6:25:56,0:15:31,6:46:30,26401,2017
26400,2605,"Mederos, Jonathan",32,M,South Miami,FL,USA,0:20:55,0:42:11,1:05:31,1:32:35,1:38:43,2:03:34,2:47:11,5:45:51,6:27:22,0:15:32,6:47:14,26402,2017
26401,15547,"Elliott, Gregory J.",68,M,Chicago,IL,USA,0:32:16,1:10:13,1:56:07,2:50:10,3:02:41,3:44:08,4:41:33,5:42:35,6:31:28,0:15:40,6:50:35,26403,2017
26402,3070,"Galbraith, Jordan M",30,M,Cardston,AB,CAN,0:23:10,0:47:20,1:15:49,1:57:38,2:10:21,3:01:58,4:29:41,5:28:30,6:27:28,0:15:44,6:52:10,26404,2017
26403,31283,"Leroy, Stefan M.",25,M,Jupiter,FL,USA,0:39:58,1:25:53,2:10:21,3:01:07,3:09:38,3:53:06,4:49:40,5:42:51,6:34:28,0:15:53,6:56:11,26405,2017
26404,25141,"Quinn, Adam H.",19,M,Belmont,MI,USA,0:35:14,1:10:33,1:47:50,2:33:58,2:42:48,4:01:11,4:42:59,5:33:15,6:42:51,0:16:12,7:04:33,26406,2017
26405,25166,"Steinbach, Paula Eyvonne",61,F,Ontario,CA,USA,0:46:44,1:35:41,2:23:35,3:12:44,3:23:31,4:12:06,5:03:08,5:55:18,6:46:57,0:16:24,7:09:39,26407,2017
26406,25178,"Avelino, Andrew R.",25,M,Fayetteville,NC,USA,0:32:03,1:05:33,1:52:17,2:49:41,3:00:26,3:50:19,4:50:01,5:53:48,6:54:21,0:16:40,7:16:59,26408,2017
26407,27086,"Hantel, Johanna",57,F,Malvern,PA,USA,0:53:11,1:43:36,2:32:36,-,3:36:24,4:15:21,5:06:37,6:00:33,6:54:38,0:16:47,7:19:37,26409,2017
26408,25268,"Reilly, Bill",64,M,New York,NY,USA,0:40:34,1:27:19,2:17:17,3:11:40,3:22:30,4:06:10,5:07:09,6:06:07,6:56:08,0:16:49,7:20:44,26410,2017
26409,25266,"Rigsby, Scott",48,M,Alpharetta,GA,USA,0:39:36,1:17:12,2:00:10,2:58:55,3:08:16,4:27:14,5:37:13,6:39:07,7:41:23,0:18:15,7:58:14,26411,2017

In [13]:
# Export final file to csv
final_df.to_csv("Year_Combined.csv")